
<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
    <h1 class="sitename">Bootslander</h1>
    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="#home" class="active">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="#gallery">Gallery</a></li>
        <li><a href="#team">Team</a></li>
        <li><a href="#pricing">Pricing</a></li>
        <li class="#dropdown">
          <a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a href="#">Dropdown 1</a></li>
            <li class="dropdown">
              <a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i> </a>
              <ul>
                <li><a href="#">Deep Dropdown 1</a></li>
                <li><a href="#">Deep Dropdown 2</a></li>
                <li><a href="#">Deep Dropdown 3</a></li>
                <li><a href="#">Deep Dropdown 4</a></li>
                <li><a href="#">Deep Dropdown 5</a></li>
              </ul>
            </li>
            <li><a href="#">Dropdown 2</a></li>
            <li><a href="#">Dropdown 3</a></li>
            <li><a href="#">Dropdown 4</a></li>
          </ul>
        </li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <button class="mobile-nav-toggle d-xl-none bi bi-list"></button>
    </nav>
  </div>
</header>


  <!-- hero section -->
<section id="hero" class="hero section "  >
  
  <div class="container">
    <div class="row gy-4 align-items-center">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1>Build Your Landing Page With <span>Bootslander</span></h1>
        <p>We are a team of talented designers making websites with Bootstrap</p>
        <div class="d-flex">
          <a href="#about" class="btn-get-started">Get Started</a>
          <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox btn-watch-video">
            <i class="bi bi-play-circle"></i><span>Watch Video</span>
          </a>
        </div>
      </div>
      <div class="col-lg-6 hero-img">
        <img src="https://themewagon.github.io/Bootslander/assets/img/hero-img.png" class="img-fluid" alt="Hero Image">
      </div>
    </div>
  </div>
</section> 










<!-- about section  -->

<div class="about" id="about" class="about-section">
    <div class="container about-section">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="mb-3">
            <button id="about-us-btn">About Us</button>
            <h2 class="about-tag">Ducimus rerum libero reprehenderit cumque</h2>
  
  
            <p class="about-tag-p">
              Ipsa sint sit. Quis ducimus tempore dolores impedit et dolor cumque alias maxime. Enim reiciendis minus et
              rerum hic non. Dicta quas cum quia maiores iure. Quidem nulla qui assumenda incidunt voluptatem tempora
              deleniti soluta.
            </p>
            <button class="read-more-btn">Read More →</button>
          </div>
        </div>
  
  
       <div class="col-lg-6 col-md-12">
    <div class="row g-4 info-cards-wrapper">
      <div class="col-md-6 col-12">
        <div class="info-card">
          <div class="icon">
            <i class="bi bi-building"></i>
          </div>
          <h5>Eius provident</h5>
          <p>Magni repellendus vel ullam hic officia accusantium ipsa dolor omnis dolor voluptatem.</p>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="info-card">
          <div class="icon">
            <i class="bi bi-clipboard"></i>
          </div>
          <h5>Rerum aperiam</h5>
          <p>Autem saepe animi et aut aspernatur culpa facere. Rerum saepe rerum voluptates quia.</p>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="info-card">
          <div class="icon">
            <i class="bi bi-share"></i>
          </div>
          <h5>Veniam omnis</h5>
          <p>Omnis perferendis molestias culpa sed. Recusandae quas possimus. Quod consequatur corrupti.</p>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="info-card">
          <div class="icon">
            <i class="bi bi-graph-up"></i>
          </div>
          <h5>Delare sapiente</h5>
          <p>Sint et dolor voluptas minus possimus nostrum. Reiciendis commodi eligendi omnis quide.</p>
        </div>
      </div>
    </div>
  </div>
  
  
  
      </div>
    </div>
</div>







 <!-- Features Section -->
  <section id="features" class="features section">
    <div class="container-feature">
      <div class="row gy-4">
        <!-- Feature Items -->
        <div class="col-lg-3 col-md-4 ">
          <div class="features-item">
            <i class="bi bi-eye" style="color: #ffbb2c;"></i>
            <h3><a href="#">Lorem Ipsum</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 ">
          <div class="features-item">
            <i class="bi bi-infinity" style="color: #5578ff;"></i>
            <h3><a href="#">Dolor Sitema</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 ">
          <div class="features-item">
            <i class="bi bi-mortarboard" style="color: #e80368;"></i>
            <h3><a href="#">Sed perspiciatis</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 ">
          <div class="features-item">
            <i class="bi bi-nut" style="color: #e361ff;"></i>
            <h3><a href="#">Magni Dolores</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 ">
          <div class="features-item">
            <i class="bi bi-shuffle" style="color: #47aeff;"></i>
            <h3><a href="#">Nemo Enim</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="features-item">
            <i class="bi bi-star" style="color: #ffa76e;"></i>
            <h3><a href="#">Eiusmod Tempor</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="features-item">
            <i class="bi bi-x-diamond" style="color: #11dbcf;"></i>
            <h3><a href="#">Midela Teren</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="features-item">
            <i class="bi bi-camera-video" style="color: #4233ff;"></i>
            <h3><a href="#">Pira Neve</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="features-item">
            <i class="bi bi-command" style="color: #b2904f;"></i>
            <h3><a href="#">Dirada Pack</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="features-item">
            <i class="bi bi-dribbble" style="color: #b20969;"></i>
            <h3><a href="#">Moton Ideal</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="features-item">
            <i class="bi bi-activity" style="color: #ff5828;"></i>
            <h3><a href="#">Verdo Park</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="features-item">
            <i class="bi bi-brightness-high" style="color: #29cc61;"></i>
            <h3><a href="#">Flavor Nivelanda</a></h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
  <!-- Stats Section -->
  <section id="stats" class="stats section light-background">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-4">
        <!-- Stat Box -->
        <div class="col-lg-3 col-md-6">
          <div class="stats-item">
            <i class="bi bi-emoji-smile"></i>
            <span data-purecounter-start="0" data-purecounter-end="232" class="purecounter">232</span>
            <p>Happy Clients</p>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6">
          <div class="stats-item">
            <i class="bi bi-journal-richtext"></i>
            <span data-purecounter-start="0" data-purecounter-end="521" class="purecounter">521</span>
            <p>Projects</p>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6">
          <div class="stats-item">
            <i class="bi bi-headset"></i>
            <span data-purecounter-start="0" data-purecounter-end="1463" class="purecounter">1463</span>
            <p>Hours Of Support</p>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6">
          <div class="stats-item">
            <i class="bi bi-people"></i>
            <span data-purecounter-start="0" data-purecounter-end="15" class="purecounter">15</span>
            <p>Hard Workers</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
  <!-- Details Section -->
<section class="details-section">
    <div class="container">
      <div class="row">
        <!-- Left Column with Titles and Image -->
        <div class="col-md-6">
          <h1 class="heading">DETAILS</h1>
          <h2>CHECK OUR DETAILS</h2>
          <div class="image-container">
            <img src="https://themewagon.github.io/Bootslander/assets/img/details-1.png" alt="Details Illustration">
          </div>
        </div>
        <!-- Right Column with Text -->
        <div class="col-md-6 d-flex flex-column justify-content-center">
          <h3 class="description">
            Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.
  
          </h3>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.</p> <br><br>
          <ul>
            <li> <i class="bi bi-check"></i>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
            <li> <i class="bi bi-check"></i>Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            <li> <i class="bi bi-check"></i>Ullam est qui quos consequatur eos accusamus.</li>
          </ul>
        </div>
  
  
        <!-- second section  -->
        <div class="col-md-6 d-flex flex-column justify-content-center details-section2">
          <h1 class="description">
            Corporis temporibus maiores provident
          </h1>
          <br>
          <h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</h3> <br>
  
          <p>
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum
          </p>
        </div>
  
  
        <div class=" col-md-6 image-container">
          <img src="https://themewagon.github.io/Bootslander/assets/img/details-2.png" alt="Details Illustration">
        </div>
  
  
  
        <!-- third section  -->
        <div class="col-md-6">
          <div class="image-container">
            <img src="https://themewagon.github.io/Bootslander/assets/img/details-3.png" alt="Details Illustration">
          </div>
        </div>
        <!-- Right Column with Text -->
        <div class="col-md-6 d-flex flex-column justify-content-center">
          <h3 class="description">
            Sunt consequatur ad ut est nulla consectetur reiciendis animi voluptas
  
          </h3>
          <p> Cupiditate placeat cupiditate placeat est ipsam culpa. Delectus quia minima quod. Sunt saepe odit aut quia
            voluptatem hic voluptas dolor doloremque.</p> <br><br>
          <ul>
            <li> <i class="bi bi-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
            <li> <i class="bi bi-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            <li> <i class="bi bi-check"></i> Ullam est qui quos consequatur eos accusamus.</li>
          </ul>
        </div>
  
  
  
        <!-- fourth section  -->
        <div class="col-md-6 d-flex flex-column justify-content-center details-section2">
          <h1 class="description">
            Quas et necessitatibus eaque impedit ipsum animi consequatur incidunt in
          </h1>
          <br>
          <h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</h3> <br>
  
          <p>
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum
          </p>
        </div>
  
  
        <div class=" col-md-6 image-container">
          <img src="https://themewagon.github.io/Bootslander/assets/img/details-4.png" alt="Details Illustration">
        </div>
  
      </div>
    </div>
  </section>




  
  <!-- Gallery Images -->
  <div class="container-gallery my-5" id="gallery" class="gallery-section">
      <div class="gallery-header">
        <h6 class="heading">GALLERY</h6>
        <h2>CHECK OUR GALLERY</h2>
      </div> <br>
      <!-- Gallery Images -->
      <div class="gallery">
        <img src="https://themewagon.github.io/Bootslander/assets/img/gallery/gallery-1.jpg" alt="Gallery Image 1">
        <img src="https://themewagon.github.io/Bootslander/assets/img/gallery/gallery-2.jpg" alt="Gallery Image 2">
        <img src="https://themewagon.github.io/Bootslander/assets/img/gallery/gallery-3.jpg" alt="Gallery Image 3">
        <img src="https://themewagon.github.io/Bootslander/assets/img/gallery/gallery-4.jpg" alt="Gallery Image 4">
        <img src="https://themewagon.github.io/Bootslander/assets/img/gallery/gallery-5.jpg" alt="Gallery Image 5">
        <img src="https://themewagon.github.io/Bootslander/assets/img/gallery/gallery-6.jpg" alt="Gallery Image 6">
        <img src="https://themewagon.github.io/Bootslander/assets/img/gallery/gallery-7.jpg" alt="Gallery Image 7">
        <img src="https://themewagon.github.io/Bootslander/assets/img/gallery/gallery-8.jpg" alt="Gallery Image 8">
      </div>
    </div>
    
    <!-- slider  -->
    
    
    
    
    <!-- Testimonials Section -->
     <section class="testimonial"> 
    <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <!-- 1st -->
        <div class="carousel-item active">
          <div class="d-flex justify-content-center">
            <div class="testimonial-item text-center">
              <img src="https://themewagon.github.io/Bootslander/assets/img/testimonials/testimonials-1.jpg"
                class="testimonial-img rounded-circle" alt="Saul Goodman" />
              <h4>Saul Goodman</h4>
              <h6>CEO & Founder</h6><br>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div><br>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div>
        </div>
    
       <!-- 2nd -->
        <div class="carousel-item">
          <div class="d-flex justify-content-center">
            <div class="testimonial-item text-center">
              <img src="https://themewagon.github.io/Bootslander/assets/img/testimonials/testimonials-2.jpg"
                class="testimonial-img rounded-circle" alt="Sara Wilsson" />
              <h4>Sara Wilsson</h4>
              <h6>Designer</h6><br>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div><br>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div>
        </div>
    
        <!-- Additional testimonial items go here -->
    <!-- 3rd -->
    
        <div class="carousel-item">
          <div class="d-flex justify-content-center">
            <div class="testimonial-item text-center">
              <img src="https://themewagon.github.io/Bootslander/assets/img/testimonials/testimonials-3.jpg"
                class="testimonial-img rounded-circle" alt="Sara Wilsson" />
              <h4>Jena Karlis</h4>
              <h6>Store Owner</h6><br>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div><br>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div>
        </div>
    
    <!-- 4th -->
    
        <div class="carousel-item">
          <div class="d-flex justify-content-center">
            <div class="testimonial-item text-center">
              <img src="https://themewagon.github.io/Bootslander/assets/img/testimonials/testimonials-4.jpg"
                class="testimonial-img rounded-circle" alt="Sara Wilsson" />
              <h4>Matt Brandon</h4>
              <h6>Freelancer</h6><br>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div><br>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div>
        </div>
    
    <!-- 5th -->
    
        <div class="carousel-item">
          <div class="d-flex justify-content-center">
            <div class="testimonial-item text-center">
              <img src="https://themewagon.github.io/Bootslander/assets/img/testimonials/testimonials-5.jpg"
                class="testimonial-img rounded-circle" alt="Sara Wilsson" />
              <h4>John Larson</h4>
              <h6>Enterpreneur</h6><br>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div><br>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div>
        </div>
    
      </div>
    
      <!-- Carousel Controls -->
      <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    
      <!-- Carousel Indicators (dots) -->
      <ol class="carousel-indicators">
        <li data-bs-target="#testimonialCarousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#testimonialCarousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#testimonialCarousel" data-bs-slide-to="2"></li>
        <li data-bs-target="#testimonialCarousel" data-bs-slide-to="3"></li>
        <li data-bs-target="#testimonialCarousel" data-bs-slide-to="4"></li>
      </ol>
    </div>
    
     </section>
  
     

     <!-- Team  -->
<section id="team" class="team-section py-5">
    <div class="container">
      <!-- Title Section -->
      <div class="row mb-4">
        <div class="col text-start">
          <h6 class="heading">Team</h6>
          <h2>CHECK OUR TEAM</h2>
        </div>
  
  
  
        <div class="row  image-card"> 
          <!-- Card 1 -->
          <div class="col-4">
            <div class="card border-0 text-center">
              <div class="card-img-wrapper">
                <img src="https://themewagon.github.io/Bootslander/assets/img/team/team-1.jpg" alt="Walter White"
                  class="card-img" />
              </div>
              <div class="card-body">
                <h5 class="card-title">Walter White</h5>
                <h6 class="undeline"></h6>
                <p class="card-text">Chief Executive Officer</p>
                </div>
                <div class="social-icons">
                 
                  <a href="#"><i class="bi bi-twitter-x"></i></a>
                  <a href="#"><i class="bi bi-facebook"></i></a>
                  <a href="#"><i class="bi bi-instagram"></i></a>
                  <a href="#"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          
  
          <!-- Card 2 -->
          <div class="col-4">
            <div class="card border-0 text-center">
              <div class="card-img-wrapper">
                <img src="https://themewagon.github.io/Bootslander/assets/img/team/team-2.jpg" alt="Sarah Johnson"
                  class="card-img" />
              </div>
              <div class="card-body">
                <h5 class="card-title">Sarah Johnson</h5>
                <h6 class="undeline"></h6>
                <p class="card-text">Product Manager</p>
              </div>
                <div class="social-icons">
                  <a href="#"><i class="bi bi-twitter-x"></i></a>
                  <a href="#"><i class="bi bi-facebook"></i></a>
                  <a href="#"><i class="bi bi-instagram"></i></a>
                  <a href="#"><i class="bi bi-linkedin"></i></a>
                </div>
             
            </div>
          </div>
  
          <!-- Card 3 -->
          <div class="col-4">
            <div class="card border-0 text-center">
              <div class="card-img-wrapper">
                <img src="https://themewagon.github.io/Bootslander/assets/img/team/team-3.jpg" alt="William Anderson"
                  class="card-img" />
              </div>
              <div class="card-body">
                <h5 class="card-title">William Anderson</h5>
                <h6 class="undeline"></h6>
                <p class="card-text">CTO</p>
              </div>
                <div class="social-icons">
                  <a href="#"><i class="bi bi-twitter-x"></i></a>
                  <a href="#"><i class="bi bi-facebook"></i></a>
                  <a href="#"><i class="bi bi-instagram"></i></a>
                  <a href="#"><i class="bi bi-linkedin"></i></a>
                </div>
             
            </div>
          </div>
  
  
  
  
        </div>
      </div>
  </div>
  </section>
  
  
 <!-- pricing section  -->
<div class="container-price" id="pricing" class="pricing-section">
    <div class="pricing-header">
      <h6 class="heading">PRICING</h6>
      <h2> CHECK OUR PRICING</h2>
    </div>
  
    <div class="row-price justify-content-center">
      <!-- Free Plan -->
      <div class="col-md-4">
        <div class="pricing-card">
          <div>
            <div class="plan-title">Free Plan</div>
            <p>Ullam mollitia quasi nobis soluta in voluptatum et sint palora dex strater</p>
          </div>
  
          <div class="price">$0 <span>/ month</span></div>
          <button class="btn btn-outline-primary btn-trial" style="margin-bottom: -18px;">Start a Free Trial</button>
          <div class="no-credit-text" style="margin-top: 25px;">No credit card required</div>
  
          <div class="feature-list">
            <div class="feature-item"> <span class="fa fa-check" style="color: #28a745;font-size: medium;"></span> &nbsp; Quam adipiscing
              vitae proin</div>
            <div class="feature-item"> <span class="fa fa-check" style="color: #28a745;font-size: medium;"></span> &nbsp; Nec feugiat nisl
              pretium</div>
            <div class="feature-item"> <span class="fa fa-check" style="color: #28a745;font-size: medium;"></span> &nbsp; Nulla at volutpat
              diam uteera</div>
  
            <div class="feature-item disabled-feature"><span class="fa fa-times"></span> &nbsp; Pharetra massa massa
              ultricies</div>
            <div class="feature-item disabled-feature"><span class="fa fa-times"></span> &nbsp; Massa ultricies mi quis
              hendrerit</div>
            <div class="feature-item disabled-feature"><span class="fa fa-times"></span> &nbsp; Voluptate id voluptas qui
              sed aperiam rerum</div>
            <div class="feature-item disabled-feature"><span class="fa fa-times"></span> &nbsp; Iure nihil dolores
              recusandae odit voluptatibus</div>
          </div>
  
        </div>
      </div>
  
  
          <!-- Business Plan -->
          <div class="col-md-4">
            <div class="pricing-card position-relative">
              <div class="popular">Popular</div>
              <div>
                <div class="plan-title">Business Plan</div>
                <p>Ullam mollitia quasi nobis soluta in voluptatum et sint palora dex strater</p>
              </div>
      
              <div class="price">$29 <span>/ month</span></div>
              <button class="btn btn-success btn-trial">Start a Free Trial</button>
              <div class="no-credit-text" style="margin-top: 2%;">No credit card required</div>
      
              <div class="feature-list">
                <div class="feature-item"> <span class="fa fa-check" style="color: #28a745;"></span> &nbsp; Quam adipiscing
                  vitae proin</div>
                <div class="feature-item"> <span class="fa fa-check" style="color: #28a745;"></span> &nbsp; Nec feugiat nisl
                  pretium</div>
                <div class="feature-item"> <span class="fa fa-check" style="color: #28a745;font-size: medium;"></span> &nbsp; Nulla at volutpat
                  diam uteera</div>
                <div class="feature-item"> <span class="fa fa-check" style="color: #28a745;font-size: medium;"></span>&nbsp; Pharetra massa
                  massa ultricies</div>
                <div class="feature-item"> <span class="fa fa-check" style="color: #28a745;font-size: medium;"></span> &nbsp; Massa ultricies mi
                  quis hendrerit</div>
                <div class="feature-item"> <span class="fa fa-check" style="color: #28a745;font-size: medium;"></span> &nbsp; Voluptate id
                  voluptas qui sed aperiam rerum</div>
      
                <div class="feature-item disabled-feature"><span class="fa fa-times"></span> &nbsp; Pharetra massa massa
                  ultricies</div>
              </div>
      
            </div>
          </div>
      
      <!-- Developer Plan -->
      <div class="col-md-4">
        <div class="pricing-card">
          <div>
            <div class="plan-title">Developer Plan</div>
            <p>Ullam mollitia quasi nobis soluta in voluptatum et sint palora dex strater</p>
          </div>
  
          <div class="price">$49 <span>/ month</span></div>
          <button class="btn btn-outline-primary btn-trial" style="margin-bottom: 55px;">Start a Free Trial</button>
          <div class="no-credit-text" style="margin-top: -13%;">No credit card required</div>
  
          <div class="feature-list">
            <div class="feature-item"> <span class="fa fa-check" style="color: #28a745;font-size: medium;"></span> &nbsp; Quam adipiscing
              vitae proin</div>
            <div class="feature-item"><span class="fa fa-check" style="color: #28a745;font-size: medium;"></span> &nbsp; Nec feugiat nisl
              pretium</div>
            <div class="feature-item"><span class="fa fa-check" style="color: #28a745;font-size: medium;"></span> &nbsp; Nulla at volutpat
              diam uteera</div>
            <div class="feature-item"><span class="fa fa-check" style="color: #28a745;font-size: medium;"></span> &nbsp; Pharetra massa
              massa ultricies</div>
            <div class="feature-item"><span class="fa fa-check" style="color: #28a745;font-size: medium;"></span> &nbsp; Massa ultricies mi
              quis hendrerit</div>
            <div class="feature-item"><span class="fa fa-check" style="color: #28a745;font-size: medium;"></span> &nbsp; Voluptate id
              voluptas qui sed aperiam rerum</div>
  
  
          </div>
  
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  <!-- Accordion  -->
  
  <section class="faq-section py-5">
    <div class="container">
  
      <div class="faq">
        <h3><span>Frequently Asked </span><strong>Questions</strong></h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et <br>
          dolore magna aliqua. Duis aute irure dolor in reprehenderit
        </p>
      </div>
  
      <div class="row">
       
        <div class="col-lg-7">
          <div class="faq-container">
          
            <div class="accordion-item rounded shadow-sm mb-2 border-0">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button  text-success fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="bi bi-question-circle me-2 circle"></i> 
                    <h6>  Non consectetur a erat nam at lectus urna duis? </h6>
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                  <div class="accordion-body">
                    Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida.
                    Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                  </div>
                </div>
              </div>
           
              <div class="accordion-item rounded shadow-sm mb-2 border-0">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button  text-success fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <i class="bi bi-question-circle me-2 circle"></i> 
                   <h6> Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?</h6>
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
                  <div class="accordion-body">
                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec
                    ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium.
                  </div>
                </div>
              </div>
           
              <div class="accordion-item rounded shadow-sm mb-2 border-0">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button  text-success fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <i class="bi bi-question-circle me-2 circle"></i> 
                    <h6>Dolor sit amet consectetur adipiscing elit pellentesque?</h6>
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
                  <div class="accordion-body">
                    Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer
                    enim. Sem nulla pharetra diam sit amet nisl suscipit.
                  </div>
                </div>
              </div>
          </div>
        </div>
  
        <!-- Image Column -->
        <div class="col-lg-5">
          <img src="https://themewagon.github.io/Bootslander/assets/img/faq.jpg" class="img-fluid "
            alt="FAQ Illustration">
        </div>
     
    
    </div>
    </div>
  </section>
  


  

<!-- contact section  -->
<div class="container contact-container" id="contact" class="contact-section">
    <div class="row">
      <!-- Left Section -->
      <div class="col-lg-6">
        <div class="contact-header">
          <h6 class="heading">CONTACT</h6>
          <h2>CHECK OUR CONTACT</h2>
        </div>
        <div class="contact-info">
          <div class="contact-item">
            <i class="bi bi-geo-alt"></i>
            <div class="contact-text">
              <strong>Address</strong>
              <p>A108 Adam Street, New York, NY 535022</p>
            </div>
          </div>
          <div class="contact-item">
            <i class="bi bi-telephone"></i>
            <div class="contact-text">
              <strong>Call Us</strong>
              <p>+1 5589 55488 55</p>
            </div>
          </div>
          <div class="contact-item">
            <i class="bi bi-envelope"></i>
            <div class="contact-text">
              <strong>Email Us</strong>
              <p>info@example.com</p>
            </div>
          </div>
        </div>
  
      </div>
      <!-- Right Section -->
      <div class="col-lg-6">
        <form>
          <!-- Name and Email on Same Row -->
          <div class="form-row">
            <div class="form-col">
              <input type="text" class="form-control" placeholder="Your Name" required>
            </div>
            <div class="form-col icon-lock">
              <input type="email" class="form-control" placeholder="Your Email" required>
              <!-- <i class="bi bi-lock-fill"></i> -->
            </div>
          </div>
          <div class="mb-2">
            <input type="text" class="form-control" placeholder="Subject">
          </div>
          <div class="mb-2">
            <textarea class="form-control-msg" rows="4" placeholder="Message"></textarea>
          </div>
          <button type="submit" class="btn btn-submit">Send Message</button>
        </form>
      </div>
    </div>
  </div>
  
  
  <!-- end section -->
  <section class="end-section">
    <div class="footer bg-blue text-light py-4">
      <div class="container">
        <div class="row d-flex align-items-center text-center text-lg-start">
  
          <!-- BootSlander Info -->
          <div class="col-lg-3 col-md-6">
            <h4>Bootslander</h4>
            <p>
              A108 Adam Street<br>
              New York, NY 535022<br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
  
          <!-- Useful Links -->
          <div class="col-lg-3 col-md-6">
            <h4>Useful Links</h4>
            <ul class="list-unstyled">
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>
  
          <!-- Our Services -->
          <div class="col-lg-3 col-md-6">
            <h4>Our Services</h4>
            <ul class="list-unstyled">
              <li><a href="#">Web Design</a></li>
              <li><a href="#">Web Development</a></li>
              <li><a href="#">Product Management</a></li>
              <li><a href="#">Marketing</a></li>
              <li><a href="#">Graphic Design</a></li>
            </ul>
          </div>
  
          <!-- Newsletter -->
          <div class="col-lg-3 col-md-6 let">
            <h4>Our Newsletter</h4>
            <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>
            <form class="input-group">
              <input type="email" class=" w-120 form-control form-control-email"/>
              <button type="submit" class="btn btn-secondary btn-subscribe">
                Subscribe
              </button>
            </form>
          </div>
       
        </div>
      </div>
  
      <!-- Footer Bottom -->
      <div class="footer-bottom text-center py-3">
        <p class="mb-0">
          &copy; Copyright <strong>Bootslander</strong>. All Rights Reserved
          <br>
          Designed by <a href="#" class="text-success">BootstrapMade</a>Distributed By
          <a href="#" class="text-success">themewagon</a>
        </p>
      </div>
    </div>
  </section>



  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center active">
    <i class="bi bi-arrow-up-short"></i>
  </a>




  

